
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SlammerApp-primary: mat-palette($mat-blue, 800, 50, 900);
$SlammerApp-accent: mat-palette($mat-orange, 700, 200, 800);

// The warn palette is optional (defaults to red).
$SlammerApp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$SlammerApp-theme: mat-light-theme($SlammerApp-primary, $SlammerApp-accent, $SlammerApp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SlammerApp-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-weight: 400}

h1,h2,h3,h4,h5,h6{
    font-weight:400;
}

.full-width{
    width:100%;
}
.light-text {
    font-weight:300;
}
.funText{
    font-family: 'Sriracha', cursive;
    font-size:20px;
}
button.mat-raised-button{
    border:1px solid lime;
}
.slammer-gradient{
    background-image:linear-gradient(to right, #ff8c00, #ffd351);
}
.orange-text{
    color:#ff8c00;
}
.blue-gradient{
    background-image: linear-gradient(#174a96, #000080);
    color:white;
    padding:5px;
}
.grey-text{
    color:rgb(113, 107, 107);
}
.mat-icon{
    cursor: pointer;
}

